<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Hoc ngay</button>
        </div>
        <div class="col-lg-9">
            <h2>Xay dung wweb voi NODEJS EXPRESS JS</h2>
            <img src="{{course.image}}" alt="" style="width: 600px;height:200px">
            <h4>{{course.name}}</h4>
            <h4>{{course.course}}</h4>

        </div>
    </div>
</div>